################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/opengl_study/.vs/opengl_study
/opengl_study/opengl_study/x64/Debug
/opengl_study/vcpkg_installed
/opengl_study/x64/Debug
/opengl_study/hv.render.native/x64/Debug
/opengl_study/ConsoleTest/bin/x64/Debug
/opengl_study/ConsoleTest/obj
/opengl_study/ConsoleTest/x64/Debug/net8.0
/opengl_study/Hv.Render.Interop/bin/x64/Debug/net8.0
/opengl_study/Hv.Render.Interop/obj
/opengl_study/Hv.Render.Interop/x64
/opengl_study/.vs/ProjectEvaluation
